{% extends 'users/base.html' %}
{% block title %}Set Password{% endblock %}
{% block content %}
<body>
    <div class="card-container-one">
        <div class="card">
            <div class="card-title">
                <h1>Сброс пароля</h1>
            </div>
            <div class="card-sub">
                {% if message %}
                    <p class="{{ status }}">{{ message }}</p>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">
                            {% if is_email_form %}
                                Отправить
                            {% else %}
                                Сменить пароль
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}